<link rel="stylesheet" type="text/css" href="/app.css">

<body>
    <div class="card">
<h2 class="title">Steele Photography</h2>

<p class="lead">Enter your email to join <strong ><%=count%> </strong>
    others to be our waitlist.</p>
    </div>
    

    <form method="POST" action='/register'>
     <input type="text" class="form" name="email" placeholder="Enter Your Email">
     <button>Join Now</button>
    </form>
    

</body>